In [ ]:
## importing Libraries

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
## Loading the datasets

fake = pd.read_csv('/Users/utsav/Desktop/dlpro/News _dataset/data/Fake.csv')
true = pd.read_csv('/Users/utsav/Desktop/dlpro/News _dataset/data/True.csv')

fake["label"] = 0
true["label"] = 1

In [37]:
## Combining the datasets
df = pd.concat([fake, true], ignore_index=True)
df.to_csv("/Users/utsav/Desktop/dlpro/News _dataset/data/news_dataset.csv", index=False)

In [ ]:
## Exploratory Data Analysis
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [40]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [48]:
df['label'].value_counts()

label
0    23481
1    21417
Name: count, dtype: int64